
<!-- <body data-spy="scroll" data-target=".navbar" data-offset="50"> -->

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Jennifer Beem</a>
      </div>
      <div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="#section1">About</a></li>
            <li><a href="#section2">Work</a></li>
            <li><a href="#section3">Contact</a></li>
            <!-- <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">About <span class="caret"></span></a> -->
              <!-- <ul class="dropdown-menu">
                <li><a href="#section41">Biomimetics Sports Technology</a></li>
                <li><a href="#section42">Webpage Development</a></li>
              </ul> -->
            <!-- </li> -->
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <div id="about-section" class="container-fluid">
    <h1>About</h1>
    <div id="iceland">
      <img src="./../assets/header.png" alt="iceland">
      <h2>Jennifer Beem</h2>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <div id="biomimetics-section" class="container-fluid">
    <h1>Biomimetics</h1>
    <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
  </div>
  <div id="work-section" class="container-fluid">
    <h1>Webpage Development</h1>
    <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
  </div>

<!-- </body> -->
